<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/create_product.css' %}">
    <title>Create Product</title>
</head>
<body>
   <div class="wrapper" >
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}  <!--security tag required-->
            <label for = "name">Name : </label>
            <input type="text" name="name" id="name" required>
            <br>
            <label for = "price">Price : </label>
            <input type = "number" name ="price" id="price" min="1" required>
            <br>
            <label for="description">Description</label>
            <textarea name="description" id="description" required></textarea>
            <br>
            <label for ="image">Illustration</label>
            <input type="file" name="image" id="image" required>
            <br>
            <button type = "submit">Create</button>
            
        </form>
    </div>
</body>
</html>


