{% extends 'base.html' %}

{% block content %} <!--the name of the block is "content"-->

<h1 class="text-center-display-3">products </h1>

<div class = "row">
 {% for list_products in list_products %}

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="{{list_products.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{list_products.name}}</h5>
            <p class="card-text">{{list_products.description}}</p>
            <a href="#" class="btn btn-primary" >COMMAND</a>
          </div>
      </div>
    </div>  
     
    {% endfor %}
  </div>

  <h1 class="text-center-display-3"> List </h1>
  <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
{% endblock %}